{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 my-3 mx-3">
    <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="{% static 'images/user.png' %}" alt="Logo" height="40" class="me-3">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" href="#">Gastos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Salud</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tarjeta</a>
            </li>
        </ul>

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="btn btn-outline-light" type="submit">Cerrar sesión</button>
        </form>
    </div>
</nav>